---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">

    <table  width="600">
        <tr>
            <td valign="top">
              <h4>
                Leg Summary:
              </h4>
              <span class="post-meta">Departure : {{ page.o_loc}} | {{page.o_date}}</span><br>
              <span class="post-meta">Arrival : {{ page.d_loc}} | {{page.d_date}}</span><br>
              <span class="post-meta">Stay until: {{page.s_date}}</span><br>
            </td>
            <td align ="right"><img src={{page.d_img_url}} alt="Smiley face" height="180" width="250"></td>
        </tr>
        <br><br>
    </table>

    <br><br>

    <h4>
      Stay Places:
    </h4>

    {% for stay in page.stay_loc %}
      {% for date in stay['dates'] %}
        <span class="post-meta"> {{date}} | {{stay['place']}}</span><br>
      {%endfor %}
    {% endfor %}


    <br><br>

    <h4>
     Sightseeings and visits:
    </h4>

    {% for visit in page.visit_loc %}
      {% for date in visit['dates'] %}
        <span class="post-meta"> {{date}} |  <a href={{visit['url']}} target="_blank" >{{visit['description']}}</a> | {{visit['place']}} </span><br>
      {%endfor %}
    {% endfor %}


    {{ content }}

    <br><br>

    <h4>
    Photostream:
    </h4>

    <a data-flickr-embed="true" data-footer="False"  href={{page.flickr_album}} title="leg1"><img src={{page.flickr_preview}} width="600" height="400" alt="leg1"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


  </div>

</article>
